<div class="section">
  <div class="card">
    <div class="flex gap-4">
      <img
        class="w-[250px] h-[250px] dark:invert dark:brightness-200 dark:contrast-100"
        [src]="question().question"
        alt="IQ Test"
      />

      <div class="grid grid-cols-3 gap-2 items-center">
        @for (option of questionOptions(); track $index) {
        <div>
          <img
            [src]="option"
            alt="Answer option"
            class="w-[80px] h-[80px] dark:invert dark:brightness-200 dark:contrast-100"
          />
        </div>
        }
      </div>
    </div>

    <div class="flex justify-between mt-4">
      <p-button
        label="Previous"
        variant="outlined"
        severity="contrast"
        (click)="prevQuestion()"
        [disabled]="currentQuestion() === 0"
      />

      @if (currentQuestion() < questions().length - 1) {
      <p-button
        label="Next"
        variant="outlined"
        severity="contrast"
        (click)="nextQuestion()"
      />
      }@else {
      <p-button label="Submit" variant="outlined" severity="success" />
      }
    </div>
  </div>
</div>
