<div class="section">
  <div class="progress-section">
    <div>
      <h2>IQ Test</h2>
      <div>
        {{ formattedTime() }} Question {{ currentQuestion() + 1 }} of
        {{ questions().length }}
      </div>
    </div>
    <div class="progress"></div>
  </div>

  <div class="test-section">
    <div class="type">
      <span
        [style.backgroundColor]="
          question().difficulty === 'easy'
            ? 'green'
            : question().difficulty === 'medium'
            ? 'orange'
            : 'red'
        "
        >{{ question().difficulty }}</span
      >
      <span>{{ question().type }}</span>
    </div>
    <div>
      <h2>{{ question().question }}</h2>
    </div>

    <div class="questions">
      @for (option of questionOptions(); track $index) {
      <div
        (click)="handleAnswer(question().id, $index)"
        [style.backgroundColor]="
          answers()[question().id] === $index ? 'black' : ''
        "
      >
        {{ option }}
      </div>
      }
    </div>

    <div class="nav-buttons">
      <button (click)="prevQuestion()" [disabled]="currentQuestion() === 0">
        previous
      </button>
      @if (currentQuestion() < questions().length - 1) {
      <button
        (click)="nextQuestion()"
        [disabled]="answers()[question().id] === undefined"
      >
        next
      </button>
      }@else {
      <button (click)="handleSubmit()" [disabled]="submitDisabled()">
        Submit
      </button>
      }
    </div>
  </div>

  <div class="overview-section">
    <div><h3>Question overview</h3></div>

    <div class="overview-buttons">
      @for (item of questions(); track $index) {
      <button
        (click)="currentQuestion.set($index)"
        [style.backgroundColor]="
          currentQuestion() === $index
            ? 'purple'
            : answers()[questions()[$index].id] !== undefined
            ? 'green'
            : 'gray'
        "
      >
        {{ $index + 1 }}
      </button>
      }
    </div>

    <div class="overview-tips">
      <div class="current">
        <div></div>
        <span>Current</span>
      </div>
      <div class="answered">
        <div></div>
        <span>Answered</span>
      </div>
      <div class="unanswered">
        <div></div>
        <span>Unanswered</span>
      </div>
    </div>
  </div>
</div>
