<div class="section">
  <div class="card">
    <div class="flex justify-between items-center">
      <h4>IQ Test</h4>
      <div>
        <p-tag [value]="formattedTime()" severity="secondary" />
        <span class="text-muted-color-emphasis ml-2">
          Question {{ currentQuestion() + 1 }} of {{ questions().length }}
        </span>
      </div>
    </div>
    <div>
      <p-progressbar
        [value]="30"
        [color]="'#06981a'"
        [showValue]="false"
        [style]="{ height: '0.6rem' }"
      />
    </div>
  </div>

  <div class="card">
    <div>
      @let severity = question().difficulty === 'easy' ? 'success' :
      question().difficulty === 'medium' ? 'warn' : 'danger';

      <p-tag [value]="question().difficulty" [severity]="severity" />
      <span class="ml-2 text-muted-color">{{ question().type }}</span>
    </div>

    <div class="mt-1">
      <h4>{{ question().question }}</h4>
    </div>

    <div class="">
      @for (option of questionOptions(); track $index) { @let selected =
      answers()[question().id] === $index;
      <div
        class="mb-2 p-3 border border-[var(--p-surface-800)] rounded-sm cursor-pointer"
        (click)="handleAnswer(question().id, $index)"
        [class]="selected ? 'bg-[var(--p-surface-800)]' : ''"
      >
        @if (selected) {
        <i class="pi pi-check-circle text-green-500"></i>
        }@else {
        <i class="pi pi-circle"></i>
        }

        <span class="ml-4 font-medium">{{ option }}</span>
      </div>
      }
    </div>

    <div class="flex justify-between mt-4">
      <p-button
        variant="outlined"
        severity="contrast"
        (click)="prevQuestion()"
        [disabled]="currentQuestion() === 0"
      >
        Previous
      </p-button>
      @if (currentQuestion() < questions().length - 1) {
      <p-button
        variant="outlined"
        severity="contrast"
        (click)="nextQuestion()"
        [disabled]="answers()[question().id] === undefined"
      >
        Next
      </p-button>
      }@else {
      <p-button
        variant="outlined"
        severity="success"
        (click)="handleSubmit()"
        [disabled]="submitDisabled()"
      >
        Submit
      </p-button>
      }
    </div>
  </div>

  <div class="card">
    <div><h4>Question overview</h4></div>

    <div class="grid grid-cols-10 mb-4 gap-4">
      @for (item of questions(); track $index) {
      <button
        class="w-10 h-10 rounded-sm cursor-pointer text-black font-semibold"
        (click)="currentQuestion.set($index)"
        [class]="
          currentQuestion() === $index
            ? 'bg-purple-500'
            : answers()[questions()[$index].id] !== undefined
            ? 'bg-green-500'
            : 'bg-gray-500'
        "
      >
        {{ $index + 1 }}
      </button>
      }
    </div>

    <div class="mt-5 flex gap-4 justify-center">
      <div class="flex">
        <div class="w-5 h-5 bg-purple-500 mr-3 rounded-sm"></div>
        <span class="text-muted-color-emphasis">Current</span>
      </div>
      <div class="flex">
        <div class="w-5 h-5 bg-green-500 mr-3 rounded-sm"></div>
        <span class="text-muted-color-emphasis">Answered</span>
      </div>
      <div class="flex">
        <div class="w-5 h-5 bg-gray-500 mr-3 rounded-sm"></div>
        <span class="text-muted-color-emphasis">Unanswered</span>
      </div>
    </div>
  </div>
</div>
